In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os

os.chdir("/content/drive/MyDrive/origin_data")

In [3]:
place_list = ['B-03','B-37','C-16','C-17','C-18','C-19','C-20','C-21','D-07','D-05','F-05']

In [4]:
import pandas as pd
df = pd.DataFrame()

for i in range(1,13):
    df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))

<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))
<ipython-input-4-81140ce51e58>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_excel(str(i)+'월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1))

In [5]:
new_df = df.loc[df['지점번호'].isin(place_list)]

In [6]:
new_df = new_df.sort_values(by = ["지점번호","방향","일자"])
new_df

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
1612,20220101,일,아차산로(워커힐),B-03,유입,아차산로구리시계->광나루역,144.0,97.0,87.0,57.0,...,603.0,629.0,635.0,515.0,499.0,317.0,396.0,365.0,204.0,101.0
1613,20220102,일,아차산로(워커힐),B-03,유입,아차산로구리시계->광나루역,93.0,65.0,62.0,44.0,...,661.0,870.0,821.0,627.0,464.0,366.0,352.0,328.0,178.0,115.0
1614,20220103,월,아차산로(워커힐),B-03,유입,아차산로구리시계->광나루역,75.0,51.0,47.0,48.0,...,605.0,579.0,634.0,680.0,728.0,413.0,429.0,393.0,283.0,155.0
1615,20220104,화,아차산로(워커힐),B-03,유입,아차산로구리시계->광나루역,112.0,81.0,55.0,53.0,...,662.0,624.0,634.0,701.0,751.0,416.0,469.0,441.0,296.0,190.0
1616,20220105,수,아차산로(워커힐),B-03,유입,아차산로구리시계->광나루역,107.0,91.0,58.0,49.0,...,641.0,647.0,642.0,746.0,845.0,428.0,439.0,400.0,254.0,177.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8303,20221227,화,동부간선도로,F-05,유출,군자교->장안교,2289.0,1723.0,1358.0,1025.0,...,3736.0,4283.0,4313.0,4033.0,3661.0,3969.0,4217.0,4166.0,4288.0,3515.0
8304,20221228,수,동부간선도로,F-05,유출,군자교->장안교,2777.0,2009.0,1585.0,1216.0,...,3682.0,3938.0,4245.0,3628.0,3313.0,4016.0,4022.0,4287.0,3949.0,3640.0
8305,20221229,목,동부간선도로,F-05,유출,군자교->장안교,2775.0,2062.0,1609.0,1273.0,...,3905.0,4258.0,4164.0,3890.0,3677.0,3991.0,4061.0,3184.0,4169.0,3637.0
8306,20221230,금,동부간선도로,F-05,유출,군자교->장안교,2932.0,2202.0,1641.0,1373.0,...,4288.0,3956.0,3408.0,3587.0,3463.0,3606.0,3877.0,3889.0,4052.0,3448.0
8307,20221231,토,동부간선도로,F-05,유출,군자교->장안교,2873.0,2289.0,1857.0,1514.0,...,3970.0,4069.0,4168.0,3979.0,3870.0,3088.0,3410.0,3676.0,3584.0,2558.0

In [7]:
new_df.loc[new_df['지점번호'] == 'D-05','방향'] = new_df[new_df['지점번호'] == 'D-05']['방향'].replace({'유입':'유출','유출':'유입'})

In [8]:
new_df['지점번호_방향'] = new_df['지점번호'].map(str) + "" + new_df['방향'].map(str)

In [9]:
new_df = new_df.drop(['요일','지점명','지점번호','방향','구분'], axis = 1)

In [10]:
new_df = pd.melt(new_df, id_vars=['지점번호_방향','일자'])

In [11]:
new_df.loc[new_df["variable"] == "0시","variable"] = "00시"
new_df['time'] = new_df['일자'].map(str) + "" + new_df.variable.str.rstrip("시")

In [12]:
new_df = new_df.drop(['일자','variable'], axis = 1)

In [13]:
new_df.time = pd.to_datetime(new_df.time, format ='%Y%m%d%H')

In [14]:
new_df.sort_values(by = ['지점번호_방향','time'])

       지점번호_방향   value                time
0       B-03유입   144.0 2022-01-01 00:00:00
8030    B-03유입    97.0 2022-01-01 01:00:00
16060   B-03유입    87.0 2022-01-01 02:00:00
24090   B-03유입    57.0 2022-01-01 03:00:00
32120   B-03유입    60.0 2022-01-01 04:00:00
...        ...     ...                 ...
160599  F-05유출  3088.0 2022-12-31 19:00:00
168629  F-05유출  3410.0 2022-12-31 20:00:00
176659  F-05유출  3676.0 2022-12-31 21:00:00
184689  F-05유출  3584.0 2022-12-31 22:00:00
192719  F-05유출  2558.0 2022-12-31 23:00:00

[192720 rows x 3 columns]

In [15]:
new_df = new_df.pivot(index='time', columns='지점번호_방향', values='value')

In [17]:
new_df.to_csv('통행량_2022.csv', encoding = "cp949")